* {
  padding: 0px;
  margin: 0px;
}

.welcome {
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-welcome {
  width: 40%;
  background-color: var(--accent);
  height: 30rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  justify-content: space-evenly;
}
.form-welcome > div {
  width: 100%;

  display: flex;
  flex-direction: column;
}
.form-welcome > div > .inputtext {
  display: flex;

  justify-content: center;
  width: 100%;
}
.form-welcome #text {
  width: 80%;
  height: 3rem;
  border: none;
  border-radius: 1rem;
  padding-left: 1rem;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  font-size: 1.2rem;
}

.form-welcome > button {
  width: 50%;
  margin-top: 2rem;
  height: 3rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  font-size: 1.2rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-welcome h1 {
  color: var(--bg-color);
  text-align: center;
  width: 100%;
}

.form-welcome > button:hover {
  background-color: var(--primary);
  color: var(--bg-color);
}

.checkbox-contianer {
  display: flex;
  padding: 1rem 0rem 0rem 3rem;
  width: 80%;
}
.checkbox-wrapper-37 input[type="checkbox"] {
  display: none;
}

.checkbox-wrapper-37 .terms-label {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.checkbox-wrapper-37 .terms-label .label-text {
  margin-left: 10px;
  color: var(--bg-color);
}

.checkbox-wrapper-37 .checkbox-svg {
  width: 30px;
  height: 30px;
}

.checkbox-wrapper-37 .checkbox-box {
  fill: #fff;
  stroke: var(--primary);
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper-37 .checkbox-tick {
  stroke: var(--primary);
  stroke-dasharray: 172;
  stroke-dashoffset: 172;
  transition: stroke-dashoffset 0.6s ease-in;
}

.checkbox-wrapper-37
  input[type="checkbox"]:checked
  + .terms-label
  .checkbox-box,
.checkbox-wrapper-37
  input[type="checkbox"]:checked
  + .terms-label
  .checkbox-tick {
  stroke-dashoffset: 0;
}
@media only screen and (max-width: 600px) {
  .form-welcome {
    width: 90%;
  }
  .checkbox-contianer {
    padding: 1rem 0rem 0rem 2rem;
  }
}
