.contianer {
  position: relative;
  height: 100vh;
  background-color: rgb(5, 4, 4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.cube {
  width: 300px; /* Adjust the width */
  height: 300px; /* Adjust the height */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 300px; /* Adjust the width */
  height: 300px; /* Adjust the height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  background-color: #3498db;
  border: 1px solid #ccc;
}

.front {
  transform: translateZ(150px);
  background-image: url("./image/front.jpg");
  background-size: contain;
}
.back {
  transform: rotateY(180deg) translateZ(150px);
  background-image: url("./image/back.jpg");
  background-size: contain;
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
  background-image: url("./image/left.jpg");
  background-size: contain;
}
.right {
  transform: rotateY(90deg) translateZ(150px);
  background-image: url("./image/right.jpg");
  background-size: contain;
}
.top {
  transform: rotateX(90deg) translateZ(150px);
  background-image: url("./image/top.jpg");
  background-size: contain;
}
.bottom {
  transform: rotateX(-90deg) translateZ(150px);
  background-image: url("./image/bottom.jpg");
  background-size: contain;
}

.toastmsg {
  background-color: #fff;

  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 1rem;
  border-left: 10px solid green;
  border-top-right-radius: 10px;
}
.gif {
  height: 5rem;
  height: 5rem;

  cursor: pointer;
}
.gif-contianer {
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.message {
  position: absolute;
  width: 40rem;
  height: 20rem;
  background-color: #fff;
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
}

.pictures {
  width: 10%;
  height: 50vh;
}
.contianer-slider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100vh;
}
.slides {
  width: inherit;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.images {
  border-radius: 20px;
  width: inherit;
  height: inherit;
}
.slides-hidden {
  display: none;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}
.arrow-right {
  right: 1rem;
}
.arrow-left {
  left: 1rem;
}
.indecators {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
}
.indecator {
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  outline: none;
  border: none;
  margin: 0px 10px 0px 10px;
}
.inactive {
  background-color: rgb(119, 118, 118);
}
.active {
  height: 1.5rem;
  width: 1.5rem;
}

.response-container {
  width: 50%;
  height: 50vh;
  background-color: #3498db;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-response {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.reveal-gift {
  width: 20rem;
  height: 2.5rem;
  border-radius: 1rem;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 100px;
  background-color: #3498db;
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.reveal-gift:hover {
  background-color: #62a1ca;
}
.rose-continer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
}

.rose {
  filter: drop-shadow(5px 5px 10px #000000);
}
.notes {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 20px;
}
.agree-ans {
  color: green;
  font-weight: bold;
}
.not-ans {
  color: red;
  font-weight: bold;
}
.form-control {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  width: 80%;
  height: 100px;
}
.uploading {
  font-size: 20px;
  color: white;
}
