@import "./RootCss.css";
.contianer {
  position: relative;
  height: 100vh;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.cube {
  width: 300px; /* Adjust the width */
  height: 300px; /* Adjust the height */
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.face {
  position: absolute;
  width: 300px; /* Adjust the width */
  height: 300px; /* Adjust the height */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #fff;
  background-color: #3498db;
  border: 1px solid #ccc;
}

.front {
  transform: translateZ(150px);
  background-image: url("./image/front.jpg");
  background-size: contain;
}
.back {
  transform: rotateY(180deg) translateZ(150px);
  background-image: url("./image/back.jpg");
  background-size: contain;
}
.left {
  transform: rotateY(-90deg) translateZ(150px);
  background-image: url("./image/left.jpg");
  background-size: contain;
}
.right {
  transform: rotateY(90deg) translateZ(150px);
  background-image: url("./image/right.jpg");
  background-size: contain;
}
.top {
  transform: rotateX(90deg) translateZ(150px);
  background-image: url("./image/top.jpg");
  background-size: contain;
}
.bottom {
  transform: rotateX(-90deg) translateZ(150px);
  background-image: url("./image/bottom.jpg");
  background-size: contain;
}
body {
  background-color: var(--bg-color);
}
.toastmsg {
  background-color: var(--bg-color);

  font-weight: bold;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  position: absolute;
  top: 1rem;
  right: 0rem;
  padding: 1rem;
  border-left: 10px solid var(--accent);
  /* border-top-right-radius: 10px; */
}
.gif {
  height: 5rem;
  height: 5rem;

  cursor: pointer;
}
.gif-contianer {
  position: absolute;
  bottom: 10px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}
.message {
  position: absolute;
  width: 40rem;
  height: 20rem;
  background-color: var(--accent);
  z-index: 1;
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.message > p {
  font-size: 1.5rem;
}
.message > h2 {
  color: var(--bg-color);
}
.btnShow {
  width: 50%;
  height: 3rem;
  border: none;
  font-size: 1.5rem;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
}
.btnShow:hover {
  background-color: var(--accent);
  color: var(--bg-color);
}
.pictures {
  width: 10%;
  height: 50vh;
}
.contianer-slider {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}
.arrow {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  z-index: 1;
}
.arrow-right {
  right: 3%;
}
.arrow-left {
  left: 3%;
}
.slides {
  width: 30%;
  height: 35rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.images {
  border-radius: 10px;
  width: 100%;
  height: 35rem;
}
.slides-hidden {
  display: none;
}

.indecators {
  position: absolute;
  bottom: 1rem;
  display: flex;
  align-items: center;
}
.indecator {
  background-color: #fff;
  cursor: pointer;
  border-radius: 50%;
  height: 1rem;
  width: 1rem;
  outline: none;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 0px 10px 0px 10px;
}
.inactive {
  background-color: var(--secondary);
}
.activeInde {
  height: 1.5rem;
  width: 1.5rem;
  background-color: var(--primary);
}

.response-container {
  width: 90%;
  padding: 1rem;
  height: 50vh;
  background-color: var(--accent);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.container-response {
  position: absolute;
  top: 10px;
  z-index: 10;
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.reveal-gift {
  padding: 1rem;

  border-radius: 1rem;
  border: none;
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  top: 100px;
  background-color: var(--secondary);
  font-size: 12px;
  color: white;
  cursor: pointer;
}
.reveal-gift:hover {
  background-color: var(--primary);
}
.rose-continer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  bottom: 1rem;
  width: inherit;
}

.rose {
  filter: drop-shadow(5px 5px 10px #000000);
}
.notes {
  font-family: Arial, sans-serif;
  color: white;
  font-size: 20px;
}
.agree-ans {
  color: green;
  font-weight: bold;
}
.not-ans {
  color: red;
  font-weight: bold;
}
.form-control {
  outline: none;
  border: none;
  padding: 1rem;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  width: 80%;
  height: 100px;
}
.uploading {
  font-size: 20px;
  color: white;
}

@media only screen and (max-width: 600px) {
  .slides {
    width: 100%;
    height: 100vh;
  }
  .images {
    height: 90vh;
  }
}
@media only screen and (max-width: 500px) {
  .slides {
    width: 100%;
    height: 100vh;
  }
  .images {
    height: 90vh;
  }
}
